.todo__button-left {
    border: none;
    border-radius: 4px;
    width: 70px;
    height: 46px;
    background-color: #ffdd2d;
    background-image: url("../../../images/button-left.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin: 10px 0 0 10px;
}

.todo__button-left:hover {
    cursor: pointer;
    opacity: 0.8;
}

.todo__button-left:disabled {
    background-color: #c0c0c0;
    opacity: 80%;
}