.tasks__item-title {
    margin: 10px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 350px;
    align-items: center;
}