.App {
  display: flex;
  background-color: #f5f7f9;
  min-height: 100vh;
  /*font-family: 'Times New Roman', sans-serif;*/
  font-family: TinkoffSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}